filelock==3.18.0+computecanada
fsspec==2025.3.2+computecanada
jinja2==3.1.6+computecanada
MarkupSafe==2.1.5+computecanada
mpmath==1.3.0+computecanada
networkx==3.4.2+computecanada
sympy==1.13.1+computecanada
torch==2.6.0+computecanada
typing_extensions==4.13.2+computecanada
